.statistics-third-row {
  margin-left: 2%;
  margin-right: 2%;
}
.statistics-third-row .filter {
  background: #fff;
  border-bottom: 1px solid #e7e7e7;
  padding: 10px 15px;
  height: 53px;
}
.statistics-third-row .item {
  margin-left: 10px;
}
.statistics-third-row-content .third-content-panel {
    background-color: #FFFFFF;
    border-bottom: 1px solid #e7e7e7;
    padding: 10px 15px;
    /* min-height: 400px; */
    /* max-width: 1600px; */
    word-break: break-all;
    height: 500px;
    overflow-y: auto;
}
.statistics-third-row .offline {
  margin-top: 30px;
}
.statistics-third-row .time-mode-default {
  background: #fff;
  border: 1px solid #eaedf0 !important;
  color: #A8A8A8;
  border-radius: 2px;
}

.statistics-third-row .time-mode-default:hover {
  background: #fff;
  border-color: #eaedf0 !important;
}

.statistics-third-row .time-mode-selected {
  background-color: #3c96dc !important;
  border: 1px solid #eaedf0 !important;
  color: #fff !important;
  border-radius: 2px;
}

.statistics-third-row .time-mode-selected:hover {
  background-color: #1872b8;
  color: #fff !important;
}

.statistics-third-row .offline .third-content-panel {
  margin-bottom: 2%;
}
