<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <title>SkyEye-监控中心</title>
  <!-- Bootstrap core CSS -->
  <link href="./styles/libs/jquery-plugin/jquery-ui.css" rel="stylesheet">
  <link href="./styles/libs/bootstrap/bootstrap.min.css" rel="stylesheet">

  <!-- Custom css -->
  <link rel="stylesheet" href="./styles/main.css">
  <link href="./styles/home.css" rel="stylesheet">
  <link href="./styles/app/status.css" rel="stylesheet">
  <link href="./styles/app/deploy.css" rel="stylesheet">
  <link href="./styles/log/realtime.css" rel="stylesheet">
  <link href="./styles/log/history.css" rel="stylesheet">
  <link href="./styles/log/query.css" rel="stylesheet">
  <link href="./styles/statistics/api.css" rel="stylesheet">
  <link href="./styles/statistics/third.css" rel="stylesheet">
  <link href="./styles/rpctrace/trace.css" rel="stylesheet">
  <link href="./styles/rpctrace/chain.css" rel="stylesheet">

</head>
<body ng-controller="PlatformController">
<header class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-4">
        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span
              class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/home">SkyEye</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-top-links navbar-left platform-op">
        <li>
          <span class="welcome-message">SkyEye 监控系统 </span>
        </li>
      </ul>
    </div>
  </div>
</header>
<div class="wrapper">
  <div class="sidebar nav-collapse">
    <div class="sidebar-toggle">
      <i class="fa fa-bars"></i>
    </div>
    <!-- sidebar menu start-->
    <div class="sidebar-content">
      <ul class="sidebar-menu" id="nav-accordion">
        <li class="sub-menu" data-key="{{menu.key}}" ng-repeat="menu in menus">
          <a href="#{{menu.href}}" class="sub-menu-link {{menu.key}}">
            <span class="{{menu.icon}} icon"></span>
            <span class="lang-translate" ng-bind="menu.name"></span>
          </a>
          <ul ng-if="menu.sub" class="sub">
            <li class="platform-sub2" id="{{menu.key}}-{{sm.key}}" data-key="{{sm.key}}" ng-repeat="sm in menu.sub">
              <a ng-href="{{$state.href(sm.href)}}" class="{{menu.key}}-{{sm.key}}" >
                <span class="icon"></span>
                <span class="lang-translate" ng-bind="sm.name"></span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- sidebar menu end-->
  </div>
  <!--main content start-->
  <div class="main container-fluid">
    <h2 class="page-title"></h2>

    <ui-view></ui-view>
    <!--main content end-->
    <!--footer start-->
    <footer class="site-footer"></footer>
    <!--footer end-->
  </div>
</div>
<script src="./scripts/libs/requirejs/require.min.js" data-main="scripts/main.js"></script>
</body>
</html>