<div class="row rpctrace-trace-row">
<div class="rpctrace-trace-row-content offline" id="offlineControlForm">
    <div class="filter">
      <h3 class="block-title pull-left">
        <span>服务调用统计</span>
      </h3>
      <div class="pull-left item">
        <select class="form-control" name="uniqueIface" ng-model="offlineUniqueIface"
            ng-options="x.id as x.name for x in uniqueIfaces"
            ng-change="offlineChart.getMethod()">
        </select>
      </div>

        <div class="pull-left item">
            <select class="form-control" name="uniqueMethod" ng-model="offlineUniqueMethod"
                    ng-options="x.id as x.name for x in uniqueMethods">
            </select>
        </div>
      <div class="pull-left item input-group">
        <input type="text" class="form-control" name="begin" id="offlineBegin"
              ng-click="dateRange($event, 'begin')" ng-change="offlineChart.update()"
              datepicker-popup ng-model="beginDate" min-date="minDate" max-date="yesterday" is-open="begin" />
        <span class="input-group-btn">
           <button type="button" ng-click="dateRange($event, 'dateOpened')" class="btn btn-default">
              <i class="glyphicon glyphicon-calendar"></i>
           </button>
        </span>
      </div>
      <div class="pull-left item input-group">
        <input type="text" class="form-control" name="end" id="offlineEnd"
              ng-click="dateRange($event, 'end')"  ng-change="offlineChart.update()"
              datepicker-popup ng-model="endDate" min-date="beginDate" max-date="today" is-open="end"/>
        <span class="input-group-btn">
           <button type="button" ng-click="dateRange($event, 'dateOpened')" class="btn btn-default">
              <i class="glyphicon glyphicon-calendar"></i>
           </button>
        </span>
      </div>
      <div class="pull-left item time-filters">
          <button class="btn time-mode-default scope-filter pull-right" scope="month">
            <span>月</span>
          </button>
          <button class="btn time-mode-default scope-filter pull-right" scope="week" >
            <span>周</span>
          </button>
          <button class="btn time-mode-default scope-filter pull-right time-mode-selected" scope="day" >
            <span>天</span>
          </button>
          <input name="scope" id="offlineScope" type="hidden" value="day"/>
      </div>
    </div>
    <div class="panel-body trace-content-panel">
      <div id="offlineChart" class="row">
      </div>
    </div>
  </div>
</div>